@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__button/popup__button.css);
@import url(./__form/popup__form.css);
@import url(./__heading/popup__heading.css);
@import url(./__item/popup__item.css);
@import url(./__items/popup__items.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}


