.popup__close {
  position: absolute;
  top: -39px;
  right: -37px;
  min-height: 40px;
  min-width: 40px;
  background-image: url(../../../images/add-button.svg);
  background-size: 41px;
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 570px) {
  .popup__close {
    top: -44px;
    right: 5px;
  }
}
